.experience {
  grid-area: experience;

  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    color: var(--text-secundary);
    font-weight: 300;
    font-size: 16px;
    line-height: 27px;
  }

  @media (min-width: 768px) {
    p {
      color: var(--text-secundary);
      font-weight: 300;
      font-size: 24px;
      line-height: 36px;
      text-align: start;
    }
  }
}
